body {
  margin: 0px;
  background-color: rgb(255, 255, 255);
  font-family: "Poppins", sans-serif;
  /* font-family: 'Nunito',sans-serif; */
  /* font-family: system-ui,sans-serif; */
}
nav {
  background-color: rgb(255, 255, 255);
  border-bottom: 1px solid rgb(233, 233, 233);
  position: fixed;
  z-index: 2;
  width: 100%;

}
.nav-first {
  /* background-color: rgb(85, 33, 168); */
  position: relative;

  display: flex;
  justify-content: space-between;
  font-size: 12px;
  padding-inline: 8rem;
  padding-block: 0.5rem;
  border-bottom: 1px solid rgb(190, 190, 190);
}
.nav-first > :last-child {
  font-size: 14px;
  color: #5c5c5c;
  text-decoration: none;
}

.nav-first > span:hover {
  cursor: pointer;
}
.language-options {
  transform: rotateZ(0deg);
}
/* //Language Drop-Down */
details[open] summary {
  transform: rotateZ(180deg);
  transition: 300ms ease-in-out;
}
details summary{
  transform: rotateZ(0deg);
  transition: 300ms ease-in-out;
}
summary{
  list-style: none;
}
.lang-list{
  position: absolute;
  top: 100%;
  right: 5%;
  background-color: rgb(255, 255, 255);
  width: fit-content;
  border: 1px solid gainsboro;
  transition: 500ms ease-in;
  border-radius: 6px;
  font-size: 12px;
  z-index: 5;
}
.lang-list > ul {
  padding: 0px 0px;
  margin:0px 0px;
}
.lang-list > ul > li {
  border-bottom: 1px solid gainsboro;
  padding: 6px 22px;
}
.lang-list > ul  :hover{
  background-color: rgba(243, 243, 243, 0.808);
}
.nav-second {
  padding-inline: 8rem;
  padding-block: 0.5rem;
  padding-block: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  
}
.nav-second > div {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  align-items: center;
  font-size: 16px;
  font-family: Poppins;
  /* position: relative; */

}
.nav-second > div > img {
  width: 4rem;
  margin-right: 2rem;
}
.nav-second > div > li:hover {
  color: rgb(119, 119, 119);
  cursor: pointer;
}
li {
  list-style: none;
}
/* OTHER SIDE */
.nav-second > :last-child {
  /* background-color: aqua; */
  padding: 0.5rem 0rem;
  gap: 1rem;
}
.nav-second > :last-child > button {
  background-color: transparent;
  border: transparent;
}
.nav-second > :last-child > a {
  text-decoration: none;
  color: rgb(211, 137, 0);
  font-weight: 400;
  font-family: Poppins;
  padding: 0.5rem 1rem;
  background-color: whitesmoke;
  border-radius: 25px;
}
.nav-second > :last-child > a:hover {
  cursor: pointer;
}
/* Nav-Details Section */

.menu1{
  display:flex;
  color: rgb(255, 255, 255);
  background-color: #78006e;
  width: 100%;
  height: 100%;
  flex-direction: row;

}

.menu{
  display: flex;
  flex: 4;
  justify-content: start;
  padding: 0rem 0rem 5rem 10rem;
  align-items: center;

}
.menu > ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  padding: 0rem;
}
.menu > ul > li{
  display: flex;
  flex-direction: row;
  gap: 15px;
  align-items: center;
  transition: transform 0.4s;
}
.menu > ul > li:hover{
  transform: translateX(7px);
  cursor: pointer;
}
.icon{
  display: none!important;
}
.menuDes{
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(187, 187, 187);
  display: flex;
  flex-direction: column;
  width:100%;
  flex: 6;
  position:relative;
  /* align-items: center; */
}
.cross {
  display:block;
    width:40px;
    height:40px;
    line-height:40px;
    border-radius: 50%;
    color:#f5f5f5;
    text-align:center;
    text-decoration:none;
    font-size: 1.1rem;
    background: #78006e;
    position: absolute;
    right: 5%;
    top: 5%;
  
}

.subMenu0{
  display: none;
  flex-direction: column;
  width: 70%;
  justify-content: center;
  align-self: center;
}
.subMenu0Active{
  display: flex;
}
.subMenu0Off{
  display: flex;
}

.subMenu0 >:last-child{
  display: flex;
  flex-direction: column;
  color: #000;
  gap: 1rem;
  padding: 6rem 0rem;

}
.subMenu0 >:last-child > :first-child{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1rem;

}
.subMenu0 >:last-child > :last-child{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1rem;
}
.type1{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;

  padding: 0.1rem 1.5rem;
  flex: 1;
  height: 150px;
  border: 1px solid #b6b6b694;
  border-radius: 6px;
  color: #000;
}
.type1 > span {
  color: #6d6d6d;
  font-size: 12px;
  margin: 0px 0px;

}
.type1 > h3{
  color: rgb(0, 0, 0);
  font-family: Nunito;
  margin: 0px 0px;
  
}
.type1 > div{
  text-decoration: none;
  color: #000;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  border-top: 1px solid rgb(192, 192, 192);
  padding: 1rem 0rem 0rem;

}
.type1 > div > i{
  display: flex;
  flex-direction: column;
  justify-content: center;
}





.subMenu1{
  display: none;
  flex-direction: column;
  width: 70%;
  justify-content: center;
  align-self: center;
}
.subMenu1Active{
  display: flex;
}
.subMenu1 >:first-child{
  display: flex;
  flex-direction: row;
  color: black;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  padding: 4rem 0rem 0rem;
  border-bottom: 1px solid rgb(189, 189, 189);
}
.subMenu1 >:first-child > h3 {
  color: #000;
  font-family: Poppins;
  font-weight: 400;
  font-size: 22px;
  margin-bottom: 10px;
}
.subMenu1 >:first-child > span {
  color: #78006e;
}
.subMenu1 >:last-child{
  display: flex;
  flex-direction: column;
  color: #000;
  gap: 1rem;
  padding: 2rem 0rem;

}
.subMenu1 >:last-child > :first-child{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1rem;

}
.subMenu1 >:last-child > :last-child{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1rem;
}
.cardMenu1{
  display: flex;
  flex: 1;
  height: 150px;
  justify-content: center;
  align-items: center;
  position: relative;
}
.subs{
  position: absolute;
  bottom:-5%;
  left: 5%;
  color: white;
  font-family: Nunito;
  
}
.subs-icon{
  display:block;
  width:30px;
  height:30px;
  line-height:30px;
  border-radius: 50%;
  color:#f5f5f5;
  text-align:center;
  text-decoration:none;
  font-size: 0.7rem;
  background: #6463646c;
  position: absolute;
  left:  3%;
  top: 5%;
}
.cardMenu1 > img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;

}
.cardMenu2{
  display: flex;
  flex: 1;
  height: 150px;
  justify-content: center;
  align-items: center;
  position: relative;

}
.cardMenu2 > img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;

}

.subMenu2{
  display: none;
  flex-direction: column;
  width: 70%;
  justify-content: center;
  align-self: center;
}
.subMenu2Active{
  display: flex;
}
.subMenu2 >:first-child{
  display: flex;
  flex-direction: row;
  color: black;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  padding: 4rem 0rem 0rem;
  border-bottom: 1px solid rgb(189, 189, 189);
}
.subMenu2 >:first-child > h3 {
  color: #000;
  font-family: Poppins;
  font-weight: 400;
  font-size: 22px;
  margin-bottom: 10px;
}
.subMenu2 >:first-child > span {
  color: #78006e;
}
.subMenu2 >:last-child{
  display: flex;
  flex-direction: column;
  color: #000;
  gap: 1rem;
  padding: 2rem 0rem;

}
.subMenu2 >:last-child > :first-child{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1rem;

}
.subMenu2 >:last-child > :last-child{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1rem;
}
.cardMenu2{
  display: flex;
  flex: 1;
  height: 150px;
  justify-content: center;
  align-items: center;
  position: relative;
}
.subs{
  position: absolute;
  bottom:-5%;
  left: 5%;
  color: white;
  font-family: Nunito;
  
}
.subs-icon{
  display:block;
  width:30px;
  height:30px;
  line-height:30px;
  border-radius: 50%;
  color:#f5f5f5;
  text-align:center;
  text-decoration:none;
  font-size: 0.7rem;
  background: #6463646c;
  position: absolute;
  left:  3%;
  top: 5%;
}
.cardMenu1 > img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;

}
.cardMenu2{
  display: flex;
  flex: 1;
  height: 150px;
  justify-content: center;
  align-items: center;
  position: relative;

}
.cardMenu2 > img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;

}




.arr{
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid red;

  position: absolute;
  top: 90%;
  left: 14.5%;
}
.zero{
  position: absolute;
  top: 100%;
  left: 0%;
  height: 0rem;
  max-height: 0rem;
  overflow: hidden;
  transition: max-height 0.5s;
  transition: height 0.5s ease-in-out;
}
.def{
  display:block;
  color: rgb(255, 255, 255);
  position: absolute;
  top: 100%;
  left: 0%;
  /* outline: 3px solid rgb(240, 37, 54); */
  background-color: rgb(224, 77, 77);
  width: 100%;

  height: 0rem;
  max-height: 0rem;
  overflow: hidden;
  transition: max-height 0.5s;
  transition: height 0.5s ease-in-out;
}
/* .content1{
  width: 100%;
  background-color: blueviolet;
  /* height: 1rem; 
} 
*/
.active-tab1{
  color: rgb(97, 26, 138);
  font-weight: 500;
}
.active-tab2{
  font-weight: 500;
  color: rgb(99, 50, 214);
}
.active-tab3{
  color: rgb(17, 199, 0);
  font-weight: 500;
}

.active-nav{
  /* display:block;
  color: rgb(255, 255, 255);
  position: absolute;
  top: 100%;
  left: 0%;
  outline: 3px solid rgb(240, 37, 54);
  background-color: rgb(224, 77, 77);
  width: 100%; */
  /* height: 40rem; */
  height: 35rem;
  max-height: 40rem;
}
.active-nav-2{
  display:block;
  color: rgb(255, 255, 255);
  position: absolute;
  top: 100%;
  left: 0%;
  outline: 3px solid rgb(99, 50, 214);
  background-color: rgb(99, 50, 214);
  width: 100%;
  height: 30rem;
  transition: 1000ms ease-in-out;
}
.active-nav-3{
  display:block;
  color: rgb(255, 255, 255);
  position: absolute;
  top: 100%;
  left: 0%;
  outline: 3px solid rgb(17, 199, 0);
  background-color: rgb(17, 199, 0);
  width: 100%;
  height: 30rem;
}
.nav-detail-1{
    display:none;
    color: aqua;
    position: absolute;
    top: 100%;
    left: 0%;
    outline: 3px solid rgb(240, 37, 54);
    background-color: rgb(224, 77, 77);
    width: 100%;
    height: 30rem;
}
.nav-detail-2{
  display:none;
  color: aqua;
  position: absolute;
  top: 100%;
  left: 0%;
  outline: 3px solid rgb(99, 50, 214);
  background-color: rgb(99, 50, 214);
  width: 100%;
  height: 30rem;
}
.nav-detail-3{
  display:none;
  color: aqua;
  position: absolute;
  top: 100%;
  left: 0%;
  outline: 3px solid rgb(250, 151, 58);
  background-color: rgb(250, 151, 58);
  width: 100%;
  height: 30rem;
}
/* HERO section */
.bg {
  height: 85vh;
  background-size: cover;
}

.Kedarnath {
  height: 100%;
  background-size: cover;
  background-image: url("/images/Kedarnath.jpg");
  /* transition: ; */
}
.Varanasi {
  height: 100%;

  background-size: cover;
  background-image: url("/images/Varanasi.jpg");
}
.Vaishodevi {
  height: 100%;

  background-size: cover;
  background-image: url("/images/Vaishnodevi.jpg");
}
.Vrindavan {
  height: 85vh;
  background-size: cover;
  background-image: url("/images/Vrindavan.jpg");
}
.Dakshineswar {
  height: 85vh;
  background-size: cover;
  background-image: url("/images/Dakshineshwar.jpg");
}
.filter {
  height: 85vh;
  backdrop-filter: blur(7px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.div-hero {
  padding: 15rem 8rem 4rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100%;
}
.active-hero-content {
  width: 40%;
  color: white;
  font-family: "Nunito", sans-serif;
  display: block;
}
.active-hero-content > h1 {
  font-size: 60px;
  margin: 5rem 0px 0rem;
  text-shadow: 1px 1px #c2c2c2;
  font-family: Poppins;

}
.active-hero-content > p {
  font-size: 20px;
  color: #fcfcfc;
  margin: 0rem 0px 2rem;

}
.active-hero-content > button {
}
.hero-content {
  display: none;
  width: 40%;
  color: white;
  font-family: "Nunito", sans-serif;
}
.hero-content > h1 {
  font-size: 60px;
  margin: 0px;
  text-shadow: 1px 1px #c2c2c2;
}
.hero-content > p {
  font-size: 20px;
  color: #fcfcfc;
  margin-bottom: 2rem;
}
.hero-content > button {
  font-size: 20px;
  color: #fcfcfc;
  background-color: transparent;
  border: 1px solid #fcfcfc;
  padding: 0.5rem 1.5rem;
  border-radius: 20px;
  font-family: Poppins;
}

.d-none{
  display: none;
}
.caro {
  /* background-color: blue; */
  width: 50%;
}



.image-container {
  width: 300px;
  height: 100%;
  object-fit: cover;
  object-position: 50% 0;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
}
.image-container > img{
  border-radius: 25px;
  width: 300px;
  object-fit: cover;
  object-position: 50% 0;
  position: absolute;
  transition: all 0.3s ease-in;

}
.img1 {
  height: 100%;
  left: 0%;
  z-index: 5;
}
.img2 {
  height: 90%;
  left: 50%;
  z-index: 4;
}
.img3 {
  height: 80%;
  left: 90%;
  z-index: 3;
}
.img4 {
  height: 70%;
  left: 130%;
  z-index: 2;
}
.img5 {
  height: 60%;
  left: 170%;
  z-index: 1;
}
.filter > :last-child {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 0rem 8rem;
}
.filter > :last-child > ul {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 0;
  padding: 0;
  gap: 4%;
  border-top: 1px solid rgb(119, 119, 119);
}
.hero-bottom-tab {
  display: flex;
  flex-direction: row;
  width: 25%;
  justify-content: center;
  padding-block: 1.1rem;
  color: rgb(204, 204, 204);
  font-size: 18px;
  border-top: 1px solid transparent;
}
.active-bottom-tab {
  display: flex;
  flex-direction: row;
  width: 25%;
  justify-content: center;
  padding-block: 1.1rem;
  font-size: 18px;
  color: rgb(255, 255, 255);
  border-top: 1px solid rgb(255, 255, 255);
}
.hero-bottom-tab:hover {
  color: rgb(255, 255, 255);
  cursor: pointer;
  border-top: 1px solid rgb(255, 255, 255);
}


/* SECTION VAR */
header{
  padding: 4rem 8rem 1rem;
  font-size: 40px;
  font-weight: 500;
  font-family: 'Poppins',sans-serif;
}
.var-cards{
  padding: 0rem 8rem;
  /* background-color: aqua; */
}
.var-cards > ul{
  list-style: none;
  padding: 0px;
  /* background-color: aquamarine; */
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
.var-card{
  width: 31%;
  height: 670px;
  background-color: blue;
  border-radius:25px;
  position: relative;
  
}
.var-card > img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 25px;

}
.var-card > :last-child{
  position: absolute;
  top: 75%;
  left: 10%;
  display: flex;
  flex-direction: column;
}
.var-card > :last-child > span{
  font-size: 30px;
  color: #fcfcfc;
}

/* GLOBAL btn */
.btn-base{
    background-color: rgb(211, 137, 0);
    color: #fff;
    border-radius: 30px;
    padding: 10px 30px;
    border: 0px transparent;
    font-size: 16px!important;
    font-family: Poppins;
    width: fit-content;
    transition: 500ms;
}
.btn-base:hover{
  background-color: rgb(172, 114, 8);
  color: #fff!important;
  cursor: pointer;
}
.btn-sec{
  background-color: hsla(0,0%,100%,.15);
  color: #fff;
  border-radius: 30px;
  padding: 10px 30px;
  border: 0px transparent;
  font-size: 16px;
  font-family: Poppins;
  width: fit-content;
  transition: 500ms;
}
.btn-sec:hover{
  background-color: hsla(0, 0%, 100%, 0.068);
  color: #fff!important;
  cursor: pointer;
}
.btn-white{
  background-color: hsl(0, 0%, 100%);
  color: #000000;
  border-radius: 30px;
  padding: 15px 30px;
  border: 0px transparent;
  font-size: 16px;
  font-family: Poppins;
  width: fit-content;
  transition: 500ms;
}
.btn-white:hover{
  background-color: hsl(0, 0%, 85%);
  color: #000000!important;
  cursor: pointer;
}

/* EXPERIENCE section */
.experience{
  padding: 2rem 8rem ;
}
.exp-div{
  display: flex;
  flex-direction: row;
  padding: 1rem 0rem;
  justify-content: space-between;
}





.exp-head{
  font-size: 40px;
  font-weight: 500;
  font-family: 'Poppins',sans-serif;
}
.exp-cards > a{
  text-decoration: none;
color: #000;
}
.exp-cards > a > ul{
  list-style: none;
  padding: 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap;
}
.exp-card{
  width: 22%;
  height: 450px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 30px;
}

.exp-card:hover{transform: 500ms;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.exp-card >:first-child{
  width: 100%;
  height: 200px; 
  object-fit: cover; 
  display: flex;
  border-radius: 20px 20px 10px 10px;
}
.exp-card > div{
 /* background-color: aquamarine; */
 display: flex;
 flex-direction: column;
 justify-content: space-between;
 flex: auto;
 padding: 1.3rem 1.9rem;
}
.exp-card > div >:first-child{
  
}
.exp-card > div >:last-child{
  color: rgb(211, 137, 0);
}
hr{
  color: #dadada;
  border-top: 1px solid rgb(233, 233, 233); 
}
.book-now{
  display: flex;
  justify-content: space-between;
}
.off{
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
.off > :last-child > :first-child{
  text-decoration: line-through;
  font-size: 12px;
  color: #6d6d6d;
}
.off > :last-child > :last-child{
  font-size: 10px;
  color: #ffffff;
  background-color: rgb(211, 137, 0);
  border-radius: 2px;
  padding: 0px 2px;
}
.basic{
  font-size: 12px;
  color: #6d6d6d;
}
.card-name{
  margin: 7px 0px;
  font-size: 19px;
  font-family: Nunito;
  font-weight: 600;
}
.price{
  margin: 0px 0px;
  font-weight: 500;
}
/* // Gallery */
.gallery{
  text-align: center;
}
/* //BAnner */

.banner{
  width: 100%;
  background-color:  rgba(209, 127, 4, 0.945);
  height: 25vh;
  border-radius: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
}
.banner > div{
  display: flex;
  flex: 1!important;
  border-radius: 30px 0px 0px 30px;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  color: #fff;

}
a{
  text-decoration: none;
}
.banner > img {
  width: 100%;
  display: flex;
  flex: 1;
  object-fit: cover;
  border-radius: 0px 30px 30px 0px;

}
.banner > .bannerC{
  position: absolute;
  display: flex;
  flex-direction: row;
  color: rgb(255, 255, 255);
  width: 90%;
  justify-content: space-between;
  padding: 0rem 4rem;
  align-items:center;
  height: 100%;
}
.bannerC > div > h1{
  margin: 2px 0px;
}
.bannerHover:hover{
  transform: 500ms;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

/* //Maps */

.maps{
  text-align: center;
}

/* Footer */

.border{
  padding: 1rem  0px;
  width: 100%;
  fill: #000;
}